/* Fonts */
:root {
    /*  */
    --postcode-input-font:Dosis;
    
    /* contact us  */
    --Contactus-header-font:Poppins;   
    --Contactus-header-color:#00843C;
    --Contactus-header-size:1rem
}

*{
   
    font-family:var(--Contactus-header-font);
}


/* ----postcode-section----- */
.postcode-section{
    display: flex;
    flex: 1 1 100px;
    justify-content: space-evenly;
}
.implanters{
    margin: 26px;
}
.postcode-input{
    font-family: var(--postcode-input-font);
    width: 958px;
    height: 58px;
    padding: 0px 0px 0px 20px;
    gap: 10px;
    border-radius: 6px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: #FFFFFF;
    border: 1px solid #0000001A    

}
.postcode-search-btn{
    background-color: #00843C;
    border-radius: 0px 6px 6px 0px;
    opacity: 0px;    
}


.dropdown-toggle {
    appearance: none;
    background-color: white; /* Example background color */
   font-family: var(--postcode-input-font);
   font-weight: 600;
    
    /* Add your custom arrow */
    background-image: url("./Images/arrow.svg"); /* Example SVG arrow */
    background-repeat: no-repeat;
    background-position: right 10px center; /* Position the arrow */
    padding-right: 30px; /* Adjust padding to make space for the arrow */
    border: 1px solid lightgray;
    padding: 17px 40px 17px 20px;
    border-radius: 10px;
  }
.dropdown-item{
    font-family: var(--postcode-input-font);
   font-weight: 600;
}
  .dropdown-toggle::after {
    display: none; /* Hide the default Bootstrap caret */
   
}
::placeholder {
    /* font-family: var(--postcode-input-font); */

}

/*-- Result Section --  */

.result-heading{
    /* font-family: var(--Contactus-header-font); */
font-size: 1.75rem;
font-weight: 600;
line-height: 2.275rem;
text-align: left;
margin: 11px 0 14px 0;
}

.contact-heading > span {
    padding-left: 5px;
}

.result-subheading{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.125rem;
    text-align: left;  
    margin-bottom: 31px; 
}



/*------ Map Section ----------*/

.map-section{
    width: 100%;  
    height: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    overflow: hidden;
}
.map-section img {
    width: 100%; 
    height: 100%; 
    object-fit: contain;
}


/* Contact Us  */
.contactus-section{
    margin-top: 30px;
}

.card-title-span{
font-size: 1.5rem;
font-weight: 600;
line-height: 1.25rem;
text-align: left;
color: #001232;
padding-left: 10px;
}
.contact-heading{
    color: #00843C;
    font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 1.25rem;
text-align: left;   

}

.contact-pera{
font-size: 0.75rem;
font-weight: 500;
line-height: 1.05rem;
text-align: left;
}

.contact-button{
    margin-top: 2px;
    font-family: Dosis;
font-size: 1.375rem;
font-weight: 600;
line-height: 2.45rem;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
padding: 0px 30%;
background-color: #00843C;
}

.popup-card{
    text-align: left;
}

.body-div{
    width: 100%;
    height: 100%;
    background-color: blue;
}


/* modal */
.modal-header {
    border-bottom: none;
}
.contact-card {
    /* background-color: #f9f9f9; */
    /* padding: 20px; */
    /* border-radius: 8px; */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    /* width: 100%; */
}

.avtar-profile{
    width: 70px;
    height: 70px;
    gap: 0px;
    border: 2px 0px 0px 0px;
    opacity: 0px;
    border: 2px solid #B62052;
    border-radius: 50%;
}

.contact-card .profile-img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}
.get-directions-btn {
    display: block;
    text-align: left;
    background-color: #00843C;
    color: white;
    border: none;
    padding: 10px 50px 10px 60px;
    border-radius: 8px;
    text-decoration: none;
    font-family: Dosis;
}

.send-message-buttons{
    background-color: #00843C;
    border: 1px solid #0000001A;
    font-family: Dosis;

}



.get-directions-btn:hover {
    background-color: #218838;
    color: white;
}
.modal-body .form-control {
    margin-bottom: 15px;
}



.modal-title{
display: flex;
justify-content: center;
align-items: center;
}
/* modal ends */


.heading-popup{
    color: #344054;
font-size: 1.375rem;
font-weight: 600;
line-height: 20px;
padding-bottom: 10px;
}

.heading-input{
padding-bottom: 10px;

}
.modal-header{
    background-color: #00843C1A;
}
.modal-title{
font-size: 2.25rem;
font-weight: 600;
line-height: 36.4px;

}
.card-location{
    color: #00843C;
}

.card{
    margin-bottom: 10px;
}

.custom-modal-width {
    max-width: 75%;  
    width: 1000px; 
}
/* Mobile Design  */

/* Below 768px */
@media (max-width: 768px) {

    .result-heading {
        font-family: var(--Contactus-header-font);
        font-size: 1.35rem;
        font-weight: 600;
        line-height: 1.7rem;
        text-align: left;
        padding-top: 10px;
    }
    .result-subheading {
        font-size: 14px;
    }

    .postcode-section{
        justify-content: space-around;
    }
    .dropdown-toggle{
        border: 1px solid lightgray;
        padding: 9px 28px 9px 8px;
    }
    .postcode-input{
        font-size: 1.0rem;
        width: 177px;
        height: 43px;
    }
    .postcode-search-btn{
        /* width: 45px;
        height: 45px; */
        width: 43px;
        height: 43px;
        gap: 10px;
        border-radius: 0px 6px 6px 0px;
        opacity: 0px;

    }
    .postcode-search-btn >img {
        width: 100%;
        height: 100%;
    }

    .dropdown{
        width: com;
    }

    .card{
        margin-bottom: 18px;
    }

    .custom-modal-width {
        max-width: 95%;   
    }
}